{% extends 'admin/admin_base.html' %}
{% block main %}

<div class="card shadow m-2">
  <div class="card-body">
    <h5 class="p-2" style="border-bottom: 2px solid orange">
     All Employees:
    </h5>
    <div class="container-fluid">
     <table class="table table-striped table-hover table-responsive" id="example">
      <thead class="text-light bg-success">
        <tr>
          <th>S.No:</th>
          <th>Employee Code:</th>
          <th>First Name:</th>
          <th>Last Name:</th>
          <th>E-mail:</th>
          <th>Contact:</th>
          <th>Joining Date:</th>
          <th>Actions1</th>
          <th>Actions2</th>
          <th>Salary</th>
        </tr>
      </thead>
      <tbody>
        {% for i in employee %}
        <tr>
          <td>
            {{forloop.counter}}
          </td>
          <td>
            {{i.empcode}}
          </td>
          <td>
            {{i.user.first_name}}
          </td>
          <td>
            {{i.user.last_name}}
          </td>
          <td>
            {{i.user.username}}
          </td>
          <td>
            {{i.contact}}
          </td>
          <td>
            {{i.join_date}}
          </td> 
          <td>
            <a href="{% url 'delete_emps' i.user.id %}" onclick="makeSure(); return false;">DELETE</a>
          </td>
          <td>
            <a href="">UPDATE</a>
          </td>
          <td>
            <a href="">SALARY</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
     </table>
    </div>
  </div>
</div>

{% endblock %}
<script>
  // The function below will start the confirmation dialog
  function makeSure() {
    let confirmAction = confirm("Are you sure to execute this action?");
    if (confirmAction) {
      alert("Action successfully executed");
    } else {
      alert("Action canceled");
    }
  }
</script>