{% extends 'admin/admin_base.html' %}
{% block main %}
<div class="card shadow m-2">
  <div class="card-body">
   
    <h5 class="p-2" style="border-bottom: 2px solid orange">
     My Work Ex:
    </h5>
    <div class="container">
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">

          <label for="formFileSm" class="form-label">Small file input example</label>
          <input class="form-control form-control-sm" id="formFileSm" name="image" type="file" value="{{empImage.user.image}}">
        </div>
      <center><input type="submit" value="Submit" class="btn btn-primary"/><center>
    </form>
    </div>
  </div>
</div>

{% endblock %}