{% extends 'admin/admin_base.html' %}
{% block main %}
    <h5 class="p-2" style="border-bottom: 2px solid orange">
     All Employees:
    </h5>
    <div class="container-fluid overflow-auto">
      
        <div class="col-sm-6">
        <label for="floatingInputValue">Type of Leave</label>
        <input type="text" class="form-control"  value="{{leave.typeOfLeave}}" readonly>
        <label for="floatingInputValue">Begin Date</label>
        <input type="text" class="form-control"  value="{{leave.beginDate}}" readonly>
        <label for="floatingInputValue">End Date </label>
        <input type="text" class="form-control"  value="{{leave.endDate}}" readonly>
        <label for="floatingInputValue">Begin Date</label>
        <input type="text" class="form-control"  value="{{leave.commentsReasons}}" readonly><br>
        <form method="post">
          {% csrf_token %}
        <input type='submit' name="acc" value="Accept" class="btn btn-success"> 
        <input type='submit' name="rej" value="Reject" class="btn btn-danger">
        </form>
        </div>
       
       
    </div>


{% endblock %}
<script>
  // The function below will start the confirmation dialog
  function makeSure() {
    let confirmAction = confirm("Are you sure to execute this action?");
    if (confirmAction) {
      alert("Action successfully executed");
    } else {
      alert("Action canceled");
    }
  }
</script>